boto3~=1.16.63
botocore~=1.19.63
geopandas~=0.11.1
gpval==0.0.10
graphqlclient==0.2.4
jsonschema~=4.16.0
mc-discrete-kit>=0.0.21
ogr==0.50.2
pandas==2.2.3
paramiko~=2.11.1
pre-commit==3.3.2
psycopg2-binary==2.8.6
PyJWT==2.9.0
python-graphql-client==0.4.3
requests~=2.32.3
setuptools~=75.3.0
shapely~=1.8.4
wheel==0.44.0
xmltodict~=0.13.0
streamlit==1.39.0
pillow~=10.4.0