boto3~=1.16.43
botocore~=1.19.43
geopandas
gpval
graphqlclient
mc-discrete-kit>=0.0.21
ogr
pandas
paramiko
pre-commit
psycopg2-binary==2.8.6
PyJWT
python-graphql-client
requests~=2.25.0
setuptools~=50.3.2
shapely
wheel
xmltodict
