boto3~=1.16.43
botocore~=1.19.43
geopandas
gpval
graphqlclient
mc-discrete-kit>=0.0.21
ogr
pandas
paramiko
pre-commit
pre-commit
psycopg2-binary
PyJWT
python-graphql-client
requests
setuptools
shapely
wheel
xmltodict
